# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://greenbasket_admin:Dharshini007@cluster0.acyx3cp.mongodb.net/?appName=Cluster0

# Firebase Project ID & Admin Service Account Key
FIREBASE_PROJECT_ID=greenbasket-4a459
FIREBASE_SERVICE_ACCOUNT_KEY=

# Google Gemini API Key for GreenGuide AI
GEMINI_API_KEY=
